


<div class="row">

  <p id="notice"><%= notice %></p>
  <h1 class="ui header"> <i class = "building icon"></i> All Gyms</h1>
  <%= link_to  new_gym_path, class: "ui right floated teal button"  do %>
    Add new gym
  <% end %>
  <br>
</div>  

<div class = "sixteen wide column">
  <br>


<table class="ui celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Email</th>
      <th>Logo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gyms.each do |gym| %>
      <tr>
        <td><%= gym.name %></td>
        <td><%= gym.description %></td>
        <td><%= gym.email %></td>
        <td><%= image_tag(gym.logo, {height:"100px", width:"100px",style:"background:#777;border:solid 1px #ccc"}) %></td>
        <td><%= link_to gym_events_path(gym) , class: "ui green mini ui button" do %>
            <i class="announcement icon"></i> Classes
          <% end %>
        </td>
        <td><%= link_to  edit_gym_path(gym) , class: "ui blue mini ui button" do %>
            <i class="edit icon"></i> Edit
          <% end %>
        </td>
        <td><%= link_to  gym, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui red mini ui button"  do %>
            <i class="trash icon"></i> Delete 
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div> 
<br>